[attr]binary -text -crlf -diff -ident
* text ident

# Handling of foreign (ie CVS) identifiers.
#
[attr]foreign_ident -ident block_commit=Remove-foreign_ident-attribute-before-commit.
# Files containing CVS ids follow.
# Remove the corresponding line before committing
# changes to these files.
/client/client.sh foreign_ident
/client/put.c foreign_ident
/gc.pike foreign_ident
/projects/lyskom-server/result_parser.pike foreign_ident
/projects/pike/result_parser.pike foreign_ident
/projects/pike/server.pike foreign_ident
/result_parser.pike foreign_ident
/roxen_modules/xenofarm_fs.pike foreign_ident
/roxen_modules/xenofarm_ui.pike foreign_ident
/server.pike foreign_ident
/tables.sql foreign_ident
