configformat:   2
project:        Pike
projectdir:     pike
snapshoturl:    http://pike.ida.liu.se/generated/pikefarm/packages/latest
resulturl:      http://pike.ida.liu.se/generated/pikefarm/packages/result
test: default   make xenofarm
#test: dmalloc   make xenofarm CONFIGUREARGS="--with-dmalloc"
#test: security  make xenofarm CONFIGUREARGS="--with-security"
#test: double    make xenofarm CONFIGUREARGS="--with-double-precision"
