configformat:   2
project:        Pike
projectdir:     pike-stable
snapshoturl:    http://pike.ida.liu.se/generated/pikefarm/packages/stable/latest
resulturl:      http://pike.ida.liu.se/generated/pikefarm/packages/stable/result
test: default   make xenofarm
#test: dmalloc   make xenofarm CONFIGUREARGS="--with-dmalloc"
#test: feature   make xenofarm_feature
#test: thorough  make xenofarm_feature CONFIGUREARGS="--with-dmalloc"
#test: static    make xenofarm CONFIGUREARGS="--without-dynamic-modules"
