configformat:   2
project:        Pike
projectdir:     pike
snapshoturl:    http://pike.ida.liu.se/generated/pikefarm/packages/7.4/latest
resulturl:      http://pike.ida.liu.se/generated/pikefarm/packages/7.4/result
test: default   make xenofarm
#test: dmalloc   make xenofarm CONFIGUREARGS="--with-dmalloc"
#test: feature   make xenofarm_feature
#test: thorough  make xenofarm_feature CONFIGUREARGS="--with-dmalloc"
#test: static    make xenofarm CONFIGUREARGS="--without-dynamic-modules"
